<!DOCTYPE html>
<html lang="ko" dir="ltr" xmlns:th="http://www.thymeleaf.org">
  
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>공통코드 관리</title>
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">

    <!-- ================== BEGIN wijmo grid BASE CSS STYLE ================== -->
    <link href="vendors/wijmo/Dist/styles/wijmo.min.css" rel="stylesheet"/>
    <!-- ================== END wijmo grid BASE CSS STYLE ================== -->

    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700%7cPoppins:300,400,500,600,700,800,900&amp;display=swap" rel="stylesheet">
    <link href="vendors/simplebar/simplebar.min.css" rel="stylesheet">
    <link href="assets/css/theme.css" rel="stylesheet" id="style-default">
    <link href="assets/css/user.css" rel="stylesheet" id="user-style-default">
    
  </head>


  <body>
    <!-- 로딩바 -->
    <div id="loading">
      <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
      <!-- 파라미터 -->
      <div id="data-params" class="visually-hidden" th:attr="data-params=${params}"></div>
    </div>
    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main ms-2 me-2" id="top">
        
      <div class="contents mt-3">
          <!-- 내용삽입 -->
        <div class="row g-3">
          <div class="col-lg-6 px-xxl-2">
            <div class="card overflow-hidden">
              <div class="card-header bg-light py-2">
                <div class="row flex-between-center">
                  <div class="col-auto btn-reveal-trigger">
                      <h6 class="mb-0 d-inline">공통코드</h6>
                      <button class="btn-groupCode-refresh btn btn-link btn-reveal btn-sm" type="button" data-bs-toggle="tooltip" aria-label="새로고침" data-bs-original-title = "새로고침" data-bs-placement = "bottom">
                        <span class="fas fa-sync-alt fs--1"></span>
                      </button>
                  </div>
                  <div class="col-auto d-flex">
                    <div class="btn-reveal-trigger">
                      <button id="btn-groupCode-add" class="btn btn-falcon-default btn-sm" type="button">
                        <span class="fas fa-plus" data-fa-transform="shrink-3 down-2"></span>
                        <span class="d-none d-sm-inline-block ms-1">추가</span>
                      </button>
                      <button id="btn-groupCode-save" class="btn btn-falcon-primary btn-sm mx-2" type="button">
                        <span class="fas fa-save" data-fa-transform="shrink-3 down-2"></span>
                        <span class="d-none d-sm-inline-block ms-1">저장</span>
                      </button>
                      <button id="btn-groupCode-delete" class="btn btn-falcon-danger btn-sm " type="button">
                        <span class="fas fa-trash" data-fa-transform="shrink-3 down-2"></span>
                        <span class="d-none d-sm-inline-block ms-1">삭제</span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-body" >
                <div id="groupCodeGrid-option" class="d-flex mb-2"></div>
                <div id="groupCodeGrid"></div>
              </div>
            </div>
          </div>

          <div class="col-lg-6">

            <div class="card overflow-hidden">
              <div class="card-header bg-light py-2">
                <div class="row flex-between-center">
                  <div class="col-auto btn-reveal-trigger">
                      <h6 class="mb-0 d-inline">상세코드</h6>
                      <button class="btn-commonCode-refresh btn btn-link btn-reveal btn-sm" type="button" data-bs-toggle="tooltip" aria-label="새로고침" data-bs-original-title = "새로고침" data-bs-placement = "bottom">
                        <span class="fas fa-sync-alt fs--1"></span>
                      </button>
                  </div>
                  <div class="col-auto d-flex">
                    <div class="btn-reveal-trigger">
                      <button id="btn-commonCode-add" class="btn btn-falcon-default btn-sm" type="button">
                        <span class="fas fa-plus" data-fa-transform="shrink-3 down-2"></span>
                        <span class="d-none d-sm-inline-block ms-1">추가</span>
                      </button>
                      <button id="btn-commonCode-save" class="btn btn-falcon-primary btn-sm mx-2" type="button">
                        <span class="fas fa-save" data-fa-transform="shrink-3 down-2"></span>
                        <span class="d-none d-sm-inline-block ms-1">저장</span>
                      </button>
                      <button id="btn-commonCode-delete" class="btn btn-falcon-danger btn-sm" type="button">
                        <span class="fas fa-trash" data-fa-transform="shrink-3 down-2"></span>
                        <span class="d-none d-sm-inline-block ms-1">삭제</span>
                      </button>
                      
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-body" >
                <div class="d-flex flex-between-center">
                  <div class="flex d-inline-flex">
                    <span class="text-500 me-1">선택된 공통코드</span>:<span class="ms-1" id="selectedGroupCode" data-group-code=""></span>
                  </div>
                  <div>
                    <h6 class="badge rounded badge-soft-primary mt-2" data-bs-toggle="tooltip" aria-label="툴팁" data-bs-original-title = "첫 컬럼을 드래그 해도 순서변경이 가능합니다." data-bs-placement = "top">순서 지정</h6>
                    <div class="btn-group btn-group-sm" role="group" aria-label="...">
                        <button data-up-down="first" class="btn btn-secondary m-1" type="button" data-bs-toggle="tooltip" aria-label="처음으로" data-bs-original-title = "처음으로" data-bs-placement = "top">
                            <span class="fas fa-angle-double-up"></span>
                        </button>
                        <button data-up-down="up" class="btn btn-secondary m-1" type="button" data-bs-toggle="tooltip" aria-label="위로" data-bs-original-title = "위로" data-bs-placement = "top">
                            <span class="fas fa-angle-up"></span>
                        </button>
                        <button data-up-down="down" class="btn btn-secondary m-1" type="button" data-bs-toggle="tooltip" aria-label="아래로" data-bs-original-title = "아래로" data-bs-placement = "top">
                            <span class="fas fa-angle-down"></span>
                        </button>
                        <button data-up-down="last" class="btn btn-secondary m-1" type="button" data-bs-toggle="tooltip" aria-label="마지막으로" data-bs-original-title = "마지막으로" data-bs-placement = "top">
                            <span class="fas fa-angle-double-down"></span>
                        </button>
                    </div>
                  </div>
                </div>
                <div id="commonCodeGrid"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
        
    </main>
    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->

    

    <!-- 공통 스크립트 모음 -->
    <script src="js/common/script.js"></script>

    
    <script>
      import('/js/common/common.js');
      import('/js/codeManage/commonCode.js');
    </script>


  </body>

</html>