<html lang="ko" dir="ltr" xmlns:th="http://www.thymeleaf.org">

<!-- 주소 선택 공통 모달 
    아래 코드를 <main> 태그 밖에 정의함.
    <div th:replace="common/modalJuso :: modalJuso"></div>
-->

<!-- data-bs-focus="false" 옵션을 사용해야 모달에서 alert 창사용시 포커스가 alert창으로 갈수있음. -->

<div th:fragment="modalKakaoJuso" class="modal fade" id="modalKakaoJuso" data-bs-keyboard="false" data-bs-backdrop="static" data-bs-focus="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
  <div class="modal-dialog modal-lg mt-6" role="document">
    <div class="modal-content border-0">

      <div class="modal-header bg-light">
        <div class="position-absolute top-0 end-0 mt-3 me-3 z-index-1"><button class="btn-close btn btn-sm btn-circle d-flex flex-center transition-base" data-bs-dismiss="modal" aria-label="Close"></button></div>
        <div class="rounded-top-lg py-1 ps-1 pe-6 d-flex">
          <span class="fa-stack ms-n1 me-3"><i class="fas fa-circle fa-stack-2x text-200"></i><i class="fa-inverse fa-stack-1x text-primary fas fa-align-left" data-fa-transform="shrink-2"></i></span>
          <h4 class="mb-1">주소 검색</h4>
        </div>
      </div>    

      <div class="modal-body p-4">
        <div class="row mb-3">
          <div class="col-lg-12">
            <div id="modalKakaoJusoArea" class="w-100" style="height:500px"></div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>

</html>