<html lang="ko" dir="ltr" xmlns:th="http://www.thymeleaf.org">
  
<!-- 상담 작성하기 -->
<div th:fragment="modal-write" class="modal fade" id="modal-write" data-bs-keyboard="false" data-bs-backdrop="static" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-scrollable mt-6" role="document">
    <div class="modal-content border-0">

      <div class="modal-header bg-light">
        <div class="position-absolute top-0 end-0 mt-3 me-3 z-index-1"><button class="btn-close btn btn-sm btn-circle d-flex flex-center transition-base" data-bs-dismiss="modal" aria-label="Close"></button></div>
        <div class="rounded-top-lg py-1 ps-1 pe-6 d-flex">
          <span class="fa-stack ms-n1 me-3"><i class="fas fa-circle fa-stack-2x text-200"></i><i class="fa-inverse fa-stack-1x text-primary fas fa-align-left" data-fa-transform="shrink-2"></i></span>
          <h4 class="mb-1">상담 작성하기</h4>
        </div>
      </div>    

      <div class="modal-body p-0">
        
        <div class=" p-0">
          <div class="border border-y-0 border-200">
            <input class="form-control border-0 rounded-0 outline-none px-x1" id="boaTitle" type="text" aria-describedby="email-subject" placeholder="제목" />
          </div>
          <div class="min-vh-50">
            <textarea class="tinymce d-none" name="boaCont" id="boaCont"></textarea>
          </div>
          
        </div>
        
        <form id="attach-file" class="dropzone dropzone-multiple mt-1 mb-2" data-dropzone="data-dropzone" data-options='{"maxFiles":1,"acceptedFiles":".jpeg,.jpg,.png,.gif,.JPEG,.JPG,.PNG,.GIF"}'>
          <div class="fallback">
            <input name="file" type="file" multiple="multiple" />
          </div>
          <div class="dz-message" data-dz-message="data-dz-message"> <img class="me-2" src="assets/img/icons/cloud-upload.svg" width="25" alt="" />여기를 눌러 파일을 첨부하세요.</div>
          <div class="dz-preview dz-preview-multiple m-0 d-flex flex-column">
            <div class="d-flex media align-items-center mb-3 pb-3 border-bottom btn-reveal-trigger"><img class="dz-image" src="assets/img/generic/image-file-2.png" alt="..." data-dz-thumbnail="data-dz-thumbnail" />
              <div class="flex-1 d-flex flex-between-center">
                <div>
                  <h6 data-dz-name="data-dz-name"></h6>
                  <div class="d-flex align-items-center">
                    <p class="mb-0 fs--1 text-400 lh-1" data-dz-size="data-dz-size"></p>
                    <div class="dz-progress"><span class="dz-upload" data-dz-uploadprogress=""></span></div>
                  </div>
                </div>
                <div class="dropdown font-sans-serif">
                  <button class="btn btn-link text-600 btn-sm dropdown-toggle btn-reveal dropdown-caret-none" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="fas fa-ellipsis-h"></span></button>
                  <div class="dropdown-menu dropdown-menu-end border py-2"><a class="dropdown-item" href="#!" data-dz-remove="data-dz-remove">삭제</a></div>
                </div>
              </div>
            </div>
          </div>
        </form>
        <!--첨부파일 영역-->
        <div class="p-x1 bg-light rounded-3 mt-3 d-none" id="attachFile-area">
          <div class="d-inline-flex flex-column" id="attachFile-list">
              <!--첨부파일 리스트-->
          </div>
          
        </div>
            
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">닫기</button>
        <button class="btn btn-primary" type="button" id="btn-save">등록 </button>
      </div>
    </div>
  </div>
</div>

<!-- 상담내용 보기기  -->
 
<div th:fragment="modal-view" class="modal fade" id="modal-view" data-bs-keyboard="false" data-bs-backdrop="static" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl mt-6" role="document">
    <div class="modal-content border-0">
      <input type="hidden" id="boaIdx" value="">
      <div class="modal-header bg-light">
        <div class="position-absolute top-0 end-0 mt-3 me-3 z-index-1"><button class="btn-close btn btn-sm btn-circle d-flex flex-center transition-base" data-bs-dismiss="modal" aria-label="Close"></button></div>
        <div class="rounded-top-lg py-1 ps-1 pe-6 d-flex">
          <span class="fa-stack ms-n1 me-3"><i class="fas fa-circle fa-stack-2x text-200"></i><i class="fa-inverse fa-stack-1x text-primary fas fa-align-left" data-fa-transform="shrink-2"></i></span>
          <h4 class="mb-1" id="boardTitle"></h4>
        </div>
      </div>
          
      <div class="modal-body p-4">
        <div class="scrollbar-overlay mb-2" style="height: 26.625rem;">
            
          <div class="d-flex flex-row-reverse">
              <p class="mb-0 fs--2 fs-sm--1 fw-semi-bold mt-2 mt-md-2 me-5">작성일: <span id="boardDate"></span></p>
          </div>
          <p id="attath-img"></p>
          <p id="boardCont"></p>
          <!--첨부파일 영역-->
          <div class="p-x1 bg-light rounded-3 mt-3 d-none" id="attachFile-viewarea">
            <div class="d-inline-flex flex-column" id="attachFile-viewlist">
                <!--첨부파일 리스트-->
            </div>
          </div>

          <!-- 댓글 -->

          <div class="mt-3 border" id="comment-area">
          </div>

          <p>
            <button class="btn btn-falcon-default ms-sm-2 mt-2" type="button" data-bs-toggle="collapse" data-bs-target="#collapseComment" aria-expanded="false" aria-controls="collapseComment">댓글쓰기</button>
          </p>
          <div class="collapse" id="collapseComment">
            <div class="border p-x1 rounded">
              <textarea class="form-control" id="comment" rows="3"></textarea>
              <button class="btn btn-primary mt-2" type="button" id="btn-comment">등록</button>
            </div>
          </div>

        </div>
          
          <div class="row">
              <div class="col-12">
                  <div class="card">
                      <div class="card-header d-flex justify-content-between ">
                          <button class="btn btn-falcon-default btn-sm d-none d-md-inline-block" id="preView" type="button" data-no="" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-original-title="이전글">
                              <span class="fas fa-arrow-left"></span>
                          </button>
                          <div class="d-flex">
                              <button class="btn-add btn btn-falcon-default btn-sm user-role" type="button">
                                  <span class="far fa-file-alt" data-fa-transform="shrink-2"></span><span class="d-none d-md-inline-block ms-1">새글쓰기</span>
                              </button>
                              <button id="btn-edit" class="btn btn-falcon-default btn-sm ms-2 user-role" type="button" data-no="">
                                  <span class="far fa-edit" data-fa-transform="shrink-2 down-1"></span><span class="d-none d-md-inline-block ms-1">수정</span>
                              </button>
                              <button id="btn-del" class="btn btn-falcon-default btn-sm ms-2 admin-role" type="button" data-no="">
                                  <span class="fas fa-trash-alt" data-fa-transform="shrink-2 down-1"></span><span class="d-none d-md-inline-block ms-1">삭제</span>
                              </button>
                              <button class="btn btn-falcon-default btn-sm mx-2" type="button" data-bs-dismiss="modal">
                                <span class="fas fa-check" data-fa-transform="shrink-2 down-2"></span><span class="d-none d-md-inline-block ms-1">닫기</span>
                              </button>
                              <input id="boaStatus" name="boaStatus" class="width-7" >
                          </div>
                          <button class="btn btn-falcon-default btn-sm d-none d-md-inline-block" id="nextView" type="button" data-no="" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-original-title="다음글">
                              <span class="fas fa-arrow-right"></span>
                          </button>
                      </div>
                  </div>
              </div>
          </div>
          
      </div>
</div>
</div>

</div>
</html>