<!-- 권한 복사 -->
<html lang="ko" dir="ltr" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="modalAuthCopy" class="modal fade" id="modalAuthCopy" data-bs-keyboard="false" data-bs-backdrop="static" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl mt-6" role="document">
    <div class="modal-content border-0">

      <div class="modal-header bg-light">
        <div class="position-absolute top-0 end-0 mt-3 me-3 z-index-1"><button class="btn-close btn btn-sm btn-circle d-flex flex-center transition-base" data-bs-dismiss="modal" aria-label="Close"></button></div>
        <div class="rounded-top-lg py-1 ps-1 pe-6 d-flex">
          <span class="fa-stack ms-n1 me-3"><i class="fas fa-circle fa-stack-2x text-200"></i><i class="fa-inverse fa-stack-1x text-primary fas fa-align-left" data-fa-transform="shrink-2"></i></span>
          <h4 class="mb-1">권한 복사</h4>
        </div>
      </div>    

      <div class="modal-body p-0">
        <div class="p-4">
          <div class="row">
            <div class="col-6">
              <h6 class="badge rounded badge-soft-primary">복사대상</h6>
              <div id="modalAuthCopySource-search" class="mb-1"></div>
              <div id="modalAuthCopySourceGrid"></div>
            </div>

            <div class="col-6">
              <h6 class="badge rounded badge-soft-primary">적용대상</h6>
              <div id="modalAuthCopyDest-search" class="mb-1"></div>
              <div id="modalAuthCopyDestGrid"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">닫기</button>
        <button class="btn btn-primary" type="button" id="btn-authority-copy">등록 </button>
      </div>
    </div>
  </div>
</div>

</html>