<!DOCTYPE html>
<html lang="ko" dir="ltr" xmlns:th="http://www.thymeleaf.org">
  
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <!-- <title th:text="${params.title}">권한관리</title> -->
    <title>권한관리</title>
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">

    <!-- ================== BEGIN wijmo grid BASE CSS STYLE ================== -->
    <link href="vendors/wijmo/Dist/styles/wijmo.min.css" rel="stylesheet"/>
    <!-- ================== END wijmo grid BASE CSS STYLE ================== -->

    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700%7cPoppins:300,400,500,600,700,800,900&amp;display=swap" rel="stylesheet">
    <link href="vendors/simplebar/simplebar.min.css" rel="stylesheet">
    <link href="assets/css/theme.css" rel="stylesheet" id="style-default">
    <link href="assets/css/user.css" rel="stylesheet" id="user-style-default">
    <link href="css/menu.css" rel="stylesheet" id="user-style-default">
    
  </head>


  <body>
    <!-- 로딩바 -->
    <div id="loading">
      <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
      <!-- 파라미터 -->
      <div id="data-params" class="visually-hidden" th:attr="data-params=${params}"></div>
    </div>
    
    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main ms-2 me-2" id="top">
        
        <div class="contents mt-3">
          
          <!-- 내용삽입 -->
          <div class="row g-3">
            <div class="col-xxl-3 col-xl-3">
              <div class="offcanvas offcanvas-end offcanvas-filter-sidebar border-0 dark__bg-card-dark h-auto rounded-xl-3" tabindex="-1" id="menuListOffcanvas" aria-labelledby="menuListOffcanvasLabel">
                <div class="offcanvas-header d-flex flex-between-center d-xl-none bg-light">
                  <div>
                    <h6 class="fs-0 mb-0 fw-semi-bold d-inline-block">메뉴 리스트</h6>
                    <button class="btn-menu-refresh btn btn-link btn-reveal btn-sm" type="button">
                      <span class="fas fa-sync-alt fs--1"></span>
                    </button>
                  </div>
                  <button class="btn-close text-reset d-xl-none shadow-none" id="menuListOffcanvasLabel" type="button" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    
                </div>
                <div class="card scrollbar shadow-none shadow-show-xl">
                  <div class="card-header bg-light d-none d-xl-block py-2">
                    <div class="row flex-between-center">
                      <div class="col-auto">
                          <h6 class="mb-0">메뉴 리스트</h6>
                      </div>
                      <div class="col-auto d-flex">
                        <div class="btn-reveal-trigger">
                          <button class="btn-menu-refresh btn btn-link btn-reveal btn-sm" type="button" data-bs-toggle="tooltip" aria-label="새로고침" data-bs-original-title = "새로고침" data-bs-placement = "left">
                              <span class="fas fa-sync-alt fs--1"></span>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card-body">
                    <div id="menuTree"></div>
                  </div>
                
                </div>
              </div>
              </div>
          
              <div class="col-xxl-9 col-xl-9">
                <div class="row mb-3 g-3">
                  <div class="col-lg-12">
                    <div class="card p-1">
                      <div class="bg-holder d-none d-lg-block bg-card search-bg-img"></div>
                      <div class="card-body card-search position-relative">
                        <div class="row flex-between-center">
                          <div class="col-6 col-sm-auto">
                            <div class="d-flex align-items-center">
                              <div class="icon-item icon-item-sm bg-soft-primary shadow-none me-2 bg-soft-info">
                                <span class="fs--2 fas fa-link text-info"></span>
                              </div>
                              <h6 class="mb-0">URL : <span id="insertUrl" data-url=""></span></h6>
                            </div>      
                          </div>
                          <div class="col-6 col-sm-auto">
                            <button class="btn btn-sm btn-falcon-default d-xl-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#menuListOffcanvas" aria-controls="menuListOffcanvas">
                              <span class="fas fa-filter" data-fa-transform="shrink-4"></span>
                              <span class="d-none d-lg-inline-block d-xxl-inline-block ms-1">메뉴리스트</span>
                            </button>
                            <button class="btn btn-falcon-default btn-sm " id="btn-menu-init" type="button">
                              <span class="fas fa-sync-alt" data-fa-transform="shrink-3 down-2"></span>
                              <span class="d-none d-lg-inline-block d-xxl-inline-block ms-1">새로고침</span>
                            </button>  
                            <button class="btn btn-falcon-default btn-sm mx-2" id="btn-menu-copy" type="button">
                              <span class="fas fa-copy" data-fa-transform="shrink-3 down-2"></span>
                              <span class="d-none d-lg-inline-block d-xxl-inline-block ms-1">권한복사</span>
                            </button>  
                            <button class="btn btn-falcon-default btn-sm" id="btn-menu-add" type="button">
                              <span class="fas fa-plus" data-fa-transform="shrink-3 down-2"></span>
                              <span class="d-none d-lg-inline-block d-xxl-inline-block ms-1">추가</span>
                            </button>  
                            <button class="btn btn-falcon-primary btn-sm mx-2" id="btn-menu-save" type="button">
                              <span class="fas fa-save" data-fa-transform="shrink-3 down-2"></span>
                              <span class="d-none d-lg-inline-block d-xxl-inline-block ms-1">저장</span>
                            </button>  
                            <button class="btn btn-falcon-danger btn-sm" id="btn-menu-delete" type="button">
                              <span class="fas fa-trash-alt" data-fa-transform="shrink-3 down-2"></span>
                              <span class="d-none d-lg-inline-block d-xxl-inline-block ms-1">삭제</span>
                            </button>  
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row g-3">
                  <div class="col-lg-12">
                    <div class="card">
                      <div class="card-header d-flex flex-between-center py-1">
                        <div id="insertGrid-option" class="d-flex">
                        <!-- 그리드 옵션박스 영역 -->
                        </div>
                        <div>
                        <!-- 오른쪽에 추가할 내용있을경우 삽입-->
                        </div>
                      </div>
          
                      <div class="card-body py-1 px-2">
                        <div id="insertGrid"></div>
                      </div>
          
                    </div>
                  </div>
                </div>
          
              </div>
          </div>
          
        </div>
        
    </main>

    
    <div th:replace="system/authority-copy :: modalAuthCopy"></div>
    
    
    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->

    <!-- 공통 스크립트 모음 -->
    <script src="js/common/script.js"></script>

    <script>
        import('/js/common/common.js');
        import('/js/system/authority.js');
    
    </script>
  </body>

</html>