
/* 메뉴 리스트 동적 height 설정  */
#menuTree{
    height: calc(100vh - 10rem);
    min-height: 18.75rem;
}
/* 트리 그리드 그룹화로 짙은색갈로 표기되는거 색상변경 */
.wj-cell.wj-group:not(.wj-state-selected):not(.wj-state-multi-selected) {
    background-color: white;
}
