<div th:fragment="modal" class="modal fade" id="modal" data-bs-keyboard="false" data-bs-backdrop="static" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-scrollable mt-6" role="document">
    <div class="modal-content border-0">

      <div class="modal-header bg-light">
        <div class="position-absolute top-0 end-0 mt-3 me-3 z-index-1"><button class="btn-close btn btn-sm btn-circle d-flex flex-center transition-base" data-bs-dismiss="modal" aria-label="Close"></button></div>
        <div class="rounded-top-lg py-1 ps-1 pe-6 d-flex">
          <span class="fa-stack ms-n1 me-3"><i class="fas fa-circle fa-stack-2x text-200"></i><i class="fa-inverse fa-stack-1x text-primary fas fa-align-left" data-fa-transform="shrink-2"></i></span>
          <h4 class="mb-1">제목</h4>
        </div>
      </div>    

      <div class="modal-body p-0">
        <div class="p-4">
          <div class="row">
            <div class="col-12">
                <!-- 내용 -->
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">닫기</button>
        <button class="btn btn-primary" type="button">등록 </button>
      </div>
    </div>
  </div>
</div>
