<!DOCTYPE html>
<html lang="ko" dir="ltr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hy-Lok Corporation | 거래명세서 출력</title>

    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700%7cPoppins:300,400,500,600,700,800,900&amp;display=swap" rel="stylesheet">
    <link href="vendors/simplebar/simplebar.min.css" rel="stylesheet">
    <link href="assets/css/theme.css" rel="stylesheet" id="style-default">
    <link href="assets/css/user.css" rel="stylesheet" id="user-style-default">
    <link href="css/print.css" rel="stylesheet" id="user-style-default">
    <style>
        @page { size: A4 landscape; }  
    </style>
</head>
<!-- <body class="m-3"> -->
<body>
    <input type="hidden" th:value="${params.dat}">
    <input type="hidden" th:value="${params.seq}">

    <input type="button" value="인쇄하기" onclick="window.print()" class="d-print-none"/>
    <table class="fs--2" style="width: 1010px;">
        <tbody>
            <tr>
                <td>
                    <table class="w-100 border-top border-start border-end border-bottom border-black table-fixed">
                        <tr>
                            <td class="ps-2 fw-semi-bold align-top">
                                No: 20221229-001
                                <p class="mb-1 fw-semi-bold">No: 20221229-001</p>
                                <p class="mb-1">page : 1 OF 2</p>
                                <p class="mb-1">2022년 12월 29일</p>
                            </td>
                            <td>
                                <p class="fs-3 ls-10 text-center align-content-center align-top m-0">거래명세서</p>
                                <p class="fs--2 ls-7 text-center m-0">(공급하는자용)</p>
                            </td>
                            <td class="text-end pe-4">
                                <div class="mb-1 barcode h" style="height: 3.75rem;"></div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table class="w-100 table-bordered fs--1 table-fixed">
                        <!-- table-layout: fixed; 옵션이 들어가면 테이블이 고정으로 되는데 이때 컬럼별 사이즈 조정이 안됨
                            colgroup 태그를 사용하여 사이즈를 조절할수있다.
                        -->
                        <colgroup>
                            <col class="width-2"><col class="width-7"><col class="width-10"><col class="width-4"><col>
                            <col class="width-2"><col class="width-7"><col class="width-10"><col class="width-4"><col>
                        </colgroup>
                        <tr>
                            <td rowspan="4" class="text-center">공<br>급<br>자</td>
                            <td class="text-center py-1">등록번호</td>
                            <td class="text-center" colspan="3">606-38-86449</td>
                            <td class="text-center" rowspan="4">공<br>급<br>받<br>는<br>자</td>
                            <td class="text-center">등록번호</td>
                            <td class="text-center" colspan="3">603-81-006778</td>
                        </tr>
                        <tr>
                            <td class="text-center py-1">상 호(법인명)</td>
                            <td class="ps-1 text-truncate">경신금속 주식회사</td>
                            <td class="text-center ">성명</td>
                            <td class="ps-1">배용준</td>
                            <td class="text-center">상호(법인명)</td>
                            <td class="ps-1 text-truncate"> 주식회사</td>
                            <td class="text-center">성명</td>
                            <td class="ps-1">문창환</td>
                        </tr>
                        <tr>
                            <td class="text-center py-1">사업장 주소</td>
                            <td class="ps-1 text-truncate" colspan="3">부산사하구</td>
                            <td class="text-center">사업장 주소</td>
                            <td class="ps-1 text-truncate" colspan="3">부산광역시</td>
                        </tr>
                        <tr>
                            <td class="text-center py-1">업 태</td>
                            <td class="ps-1">제조업</td>
                            <td class="text-center">종 목</td>
                            <td class="ps-1">관이음쇠</td>
                            <td class="text-center">업 태</td>
                            <td class="ps-1">제조</td>
                            <td class="text-center">종 목</td>
                            <td class="ps-1">관이음쇠</td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table class="table-bordered w-100 fs--1">
                        <colgroup>
                            <col class="width-2"><col class="width-7"><col class="width-4">
                            <col class="width-7"><col class="width-3"><col class="width-2">
                            <col class="width-3"><col class="width-3"><col class="width-3">
                            <col class="width-3"><col class="width-4"><col class="width-4">
                            <col class="width-3"><col class="width-4"><col class="width-4">
                            <col class="width-4"><col class="width-3">
                        </colgroup>
                        <thead>
                            <td class="text-center py-1">순번</td>
                            <td class="text-center">발주번호</td>
                            <td class="text-center">Lot-No</td>
                            <td class="text-center" colspan="2">품명 및 규격</td>
                            <td class="text-center">단위</td>
                            <td class="text-center">발주량</td>
                            <td class="text-center">납품량</td>
                            <td class="text-center">합격량</td>
                            <td class="text-center">불 량</td>
                            <td class="text-center">소재중량</td>
                            <td class="text-center">부품중량</td>
                            <td class="text-center">공제액</td>
                            <td class="text-center">단 가</td>
                            <td class="text-center">금 액</td>
                            <td class="text-center">검사판정</td>
                            <td class="text-center">검사자</td>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-center ps-1">1</td>
                                <td class="text-center ps-1">202205-166-013</td>
                                <td class="text-center ">222D1925</td>
                                <td class="ps-1 text-truncate border-end-0">DSWVE10L-02G</td>
                                <td class="text-center ps-1 border-start-0">-STEL</td>
                                <td class="text-center ps-1">EA</td>
                                <td class="number">1,000</td>
                                <td class="number">1,000</td>
                                <td class="number">999</td>
                                <td class="number">1</td>
                                <td class="number">35.25</td>
                                <td class="number">10</td>
                                <td class="number">0</td>
                                <td class="number">879</td>
                                <td class="number">250,456</td>
                                <td class=""></td>
                                <td class=""></td>
                            </tr>
                            
                            

                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="17">
                                    <p class="ps-3 pb-4">( 기타사항 )</p>

                                </td>
                            </tr>
                        </tfoot>

                    </table>
                </td>
            </tr>
        </tbody>
        

    </table>

    
    <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->
    <script src="vendors/simplebar/simplebar.min.js"></script>
    <script src="vendors/popper/popper.min.js"></script>                                    <!--bootstrap에서 드롭다운을 위한 필수플러그인 https://popper.js.org/docs/v2/tutorial/-->
    <script src="vendors/bootstrap/bootstrap.min.js"></script>                              <!--bootstrap-->
    <script src="vendors/anchorjs/anchor.min.js"></script>                                  <!--링크 바로가기-->
    <script src="vendors/is/is.min.js"></script>                                            <!--validation 함수집합  http://is.js.org/-->
    <script src="vendors/echarts/echarts.min.js"></script>                                  <!--chart 관련  https://echarts.apache.org/en/option.html#title-->
    <script src="vendors/fontawesome/all.min.js"></script>                                  <!--icon 5.15 버전  https://fontawesome.com/v5/icons/wrench?s=solid&f=classic-->
    <script src="vendors/lodash/lodash.min.js"></script>                                    <!--유용한 함수집합  https://lodash.com/ -->
    <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>   <!--오래된 브라우저 호환성 맞춤-->
    <script src="vendors/list.js/list.min.js"></script>                                     <!--리스트형 테이블에 사용 https://listjs.com/-->
    <script src="vendors/jquery/jquery.min.js"></script>                                    <!--jquery v3.6.1-->
    <script src="vendors/sweetalert2/sweetalert2.all.min.js"></script>                      <!--메시지 창-->
    <script src="assets/js/theme.js"></script>                                              <!--template 화면 구현이 필요한 모든 함수 집합-->
    
    <!-- ===============================================-->
    <!--    wijmo -->
    <!-- ===============================================-->
    <script src="vendors/wijmo/Dist/controls/wijmo.min.js"></script>
    <script src="vendors/wijmo/Dist/controls/wijmo.grid.min.js"></script>
    <script src="vendors/wijmo/Dist/controls/wijmo.grid.detail.min.js"></script>
    <script src="vendors/wijmo/Dist/controls/wijmo.grid.grouppanel.min.js"></script>
    <script src="vendors/wijmo/Dist/controls/wijmo.grid.selector.min.js"></script>
    <script src="vendors/wijmo/Dist/controls/wijmo.grid.search.min.js"></script>
    <script src="vendors/wijmo/Dist/controls/wijmo.grid.filter.min.js"></script>
    <script src="vendors/wijmo/Dist/controls/wijmo.grid.cellmaker.min.js"></script>
    <script src="vendors/wijmo/Dist/controls/wijmo.touch.min.js"></script>
    <script src="vendors/wijmo/Dist/controls/wijmo.input.min.js"></script>
    <script src="vendors/wijmo/Dist/controls/wijmo.nav.min.js"></script>
    <script src="vendors/wijmo/Dist/controls/wijmo.barcode.min.js"></script>
    <script src="vendors/wijmo/Dist/controls/wijmo.barcode.common.min.js"></script>
    <script src="vendors/wijmo/Dist/controls/cultures/wijmo.culture.ko.min.js"></script>
    <script src="vendors/wijmo/license.js"></script>

    <script>
      import('/js/common/common.js');
      //import('/js/statement/print.js');
      
    </script>


</body>
</html>