<!DOCTYPE html>
<html lang="ko" dir="ltr" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>드림캐슬 | 헬스장 관리 프로그램</title>
    
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
    
    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700%7cPoppins:300,400,500,600,700,800,900&amp;display=swap" rel="stylesheet">
    <link href="vendors/simplebar/simplebar.min.css" rel="stylesheet">
    <link href="vendors/dhtmlx/skins/web/dhtmlx.css" rel="stylesheet" />
    <link href="assets/css/theme.min.css" rel="stylesheet" id="style-default">
    <link href="assets/css/user.css" rel="stylesheet" id="user-style-default">
    <link href="css/index.css" rel="stylesheet">
  
</head>

<body>

  <!-- 프로그램 코드 -->
  <!-- <div id="data-params" class="visually-hidden" data-params={"authUrl":"index"} ></div> -->
  <div id="data-params" class="visually-hidden" th:attr="data-params=${params}"></div>
  
  <!-- ===============================================-->
  <!--    Main Content-->
  <!-- ===============================================-->
  <main class="main" id="top">
    <div class="container" data-layout="container">
      
      <!-- ===============================================-->
      <!-- 왼쪽 메뉴바 -->
      <!-- ===============================================-->
      <div th:replace="navbar :: navbar"></div>

      <div class="content">
        <!-- ===============================================-->
        <!-- HEADER 영역 -->
        <!-- ===============================================-->
        <div th:replace="topbar :: topbar"></div>
        
        <!-- ===============================================-->
        <!--    탭으로 들어갈 내용 -->
        <!-- ===============================================-->
        <div id="cont"></div>
               
      </div>
      
    </div>
  </main>
  <!-- ===============================================-->
  <!--    End of Main Content-->
  <!-- ===============================================-->

  <!-- customize 메뉴-->
  <div th:replace="customize :: customize"></div>
  
  <!-- ===============================================-->
  <!--    JavaScripts-->
  <!-- ===============================================-->
  <script src="vendors/dhtmlx/codebase/dhtmlx.js"></script>
  <script src="assets/js/config.js"></script>

  <!-- 공통 스크립트 모음 -->
  <script src="js/common/script.js"></script>
  
  
  
  <script>
    let isRTL = JSON.parse(localStorage.getItem('isRTL'));
    if (isRTL) {
      let linkDefault = document.getElementById('style-default');
      let userLinkDefault = document.getElementById('user-style-default');
      linkDefault.setAttribute('disabled', true);
      userLinkDefault.setAttribute('disabled', true);
      document.querySelector('html').setAttribute('dir', 'rtl');
    } 
    
    let isFluid = JSON.parse(localStorage.getItem('isFluid'));
    if (isFluid) {
      let container = document.querySelector('[data-layout]');
      container.classList.remove('container');
      container.classList.add('container-fluid');
    }

    let navbarStyle = localStorage.getItem("navbarStyle");
    if (navbarStyle && navbarStyle !== 'transparent') {
      document.querySelector('.navbar-vertical').classList.add(`navbar-${navbarStyle}`);
    }

    import('/js/common/common.js');
    import('/js/index.js');
    
  </script>
  
</body>

</html>