<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<nav id="navbar" th:fragment="navbar" class="navbar navbar-light navbar-vertical navbar-expand-xl">
    <!--로고 및 토글-->          
    <div class="d-flex align-items-center">
      <div class="toggle-icon-wrapper">

        <button class="btn navbar-toggler-humburger-icon navbar-vertical-toggle" data-bs-toggle="tooltip" data-bs-placement="left" title="Toggle Navigation">
          <span class="navbar-toggle-icon"><span class="toggle-line"></span></span>
        </button>

      </div>
      <a class="navbar-brand" href="index">
        <!-- <div class="d-flex align-items-center py-3"><img class="me-2" src="img/logo.png" alt="" height="39px;" /></div> -->
        <div class="d-flex align-items-center py-3">
          <img class="me-2" src="assets/img/icons/spot-illustrations/falcon.png" alt="" width="40">
          <span class="font-sans-serif">Dream</span>
        </div>
      </a>

      
    </div>

    <!--메뉴 -->
    <div class="collapse navbar-collapse" id="navbarVerticalCollapse">
      <div class="navbar-vertical-content scrollbar">
        <ul class="navbar-nav flex-column mb-3" id="navbarVerticalNav" >
          <li class="nav-item" th:classappend="${userInfo.role == 'ADMIN_ROLE'} ? '' : 'd-none'">
            <a class="nav-link addTabBar" href="dashboard/dashboard" data-path="대시보드">
              <div class="d-flex align-items-center">
                <span class="nav-link-icon"><span class="fas fa-chart-pie"></span></span>
                <span class="nav-link-text ps-1">대시보드</span>
              </div>
            </a>
          </li>
          
          <li class="nav-item" id="nav-menu"  >
              
          </li> 
          
        </ul>
        
      </div>
    </div>
  </nav>
</html>