<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<nav id="navbar" th:fragment="navbar" class="navbar navbar-light navbar-vertical navbar-expand-xl">
    <!--로고 및 토글-->          
    <div class="d-flex align-items-center">
      <div class="toggle-icon-wrapper">

        <button class="btn navbar-toggler-humburger-icon navbar-vertical-toggle" data-bs-toggle="tooltip" data-bs-placement="left" title="Toggle Navigation">
          <span class="navbar-toggle-icon"><span class="toggle-line"></span></span>
        </button>

      </div>
      <a class="navbar-brand" href="index">
        <!-- <div class="d-flex align-items-center py-3"><img class="me-2" src="img/logo.png" alt="" height="39px;" /></div> -->
        <div class="d-flex align-items-center py-3">
          <img class="me-2" src="assets/img/icons/spot-illustrations/falcon.png" alt="" width="40">
          <span class="font-sans-serif">Dream</span>
        </div>
      </a>

      
    </div>

    <!--메뉴 -->
    <div class="collapse navbar-collapse" id="navbarVerticalCollapse">
      <div class="navbar-vertical-content scrollbar">
        <ul class="navbar-nav flex-column mb-3" id="navbarVerticalNav" >
          <li class="nav-item">
            <a class="nav-link addTabBar" href="dash" data-path="대시보드">
              <div class="d-flex align-items-center">
                <span class="nav-link-icon"><span class="fas fa-chart-pie"></span></span>
                <span class="nav-link-text ps-1">대시보드</span>
              </div>
            </a>
          </li>
          <div th:classappend="${userInfo.role == 'ADMIN_ROLE'} ? '' : 'd-none'">
            <li class="nav-item" id="nav-menu"  >
              
              <div class="row navbar-vertical-label-wrapper mt-3 mb-2">
                <div class="col-auto navbar-vertical-label">관리자 메뉴</div>
                <div class="col ps-0">
                  <hr class="mb-0 navbar-vertical-divider">
                </div>
              </div>

              <li class="nav-item">
                <a class="nav-link dropdown-indicator" href="#INFO002" role="button" data-bs-toggle="collapse" aria-expanded="true" aria-controls="INFO001">
                  <div class="d-flex align-items-center">
                    <span class="nav-link-icon"><span class="fas fa-list"></span></span>
                    <span class="nav-link-text ps-1">시스템</span>
                  </div>
                </a>
              </li>
              <ul class="nav collapse show" id="INFO001" >
                <li class="nav-item d-flex flex-between-center hover-actions-trigger">
                  <a class="nav-link addTabBar" href="system/menu" data-path=">시스템>메뉴관리리"> 
                    <span class="nav-link-text ps-1">메뉴 관리</span>
                  </a>
                  <div class="hover-actions end-0">
                    <button class="btn fs--2 icon-item-sm btn-link px-0 text-600 menuPop">
                      <span class="fas fa-external-link-alt text-light"></span>
                    </button>
                  </div>
                </li>
              </ul>

              <li class="nav-item">
                <a class="nav-link dropdown-indicator" href="#INFO001" role="button" data-bs-toggle="collapse" aria-expanded="true" aria-controls="INFO001">
                  <div class="d-flex align-items-center">
                    <span class="nav-link-icon"><span class="fas fa-list"></span></span>
                    <span class="nav-link-text ps-1">기준정보</span>
                  </div>
                </a>
              </li>
              <ul class="nav collapse show" id="INFO001" >
                <li class="nav-item d-flex flex-between-center hover-actions-trigger">
                  <a class="nav-link addTabBar" href="codeManage/common-code" data-path=">기준정보>공통코드드 관리"> 
                    <span class="nav-link-text ps-1">공통코드 관리</span>
                  </a>
                  <div class="hover-actions end-0">
                    <button class="btn fs--2 icon-item-sm btn-link px-0 text-600 menuPop">
                      <span class="fas fa-external-link-alt text-light"></span>
                    </button>
                  </div>
                </li>
                <li class="nav-item d-flex flex-between-center hover-actions-trigger">
                  <a class="nav-link addTabBar" href="codeManage/health" data-path=">기준정보>운동 관리"> 
                    <span class="nav-link-text ps-1">운동 관리</span>
                  </a>
                  <div class="hover-actions end-0">
                    <button class="btn fs--2 icon-item-sm btn-link px-0 text-600 menuPop">
                      <span class="fas fa-external-link-alt text-light"></span>
                    </button>
                  </div>
                </li>
                <li class="nav-item d-flex flex-between-center hover-actions-trigger">
                  <a class="nav-link addTabBar" href="codeManage/diet-menu" data-path=">기준정보>식단 관리"> 
                    <span class="nav-link-text ps-1">식단 관리</span>
                  </a>
                  <div class="hover-actions end-0">
                    <button class="btn fs--2 icon-item-sm btn-link px-0 text-600 menuPop">
                      <span class="fas fa-external-link-alt text-light"></span>
                    </button>
                  </div>
                </li>
                <li class="nav-item d-flex flex-between-center hover-actions-trigger">
                  <a class="nav-link addTabBar" href="codeManage/trainer" data-path=">기준정보>트레이너 관리"> 
                    <span class="nav-link-text ps-1">트레이너 관리</span>
                  </a>
                  <div class="hover-actions end-0">
                    <button class="btn fs--2 icon-item-sm btn-link px-0 text-600 menuPop">
                      <span class="fas fa-external-link-alt text-light"></span>
                    </button>
                  </div>
                </li>
              </ul>

              <li class="nav-item">
                <a class="nav-link dropdown-indicator" href="#INFO002" role="button" data-bs-toggle="collapse" aria-expanded="true" aria-controls="INFO001">
                  <div class="d-flex align-items-center">
                    <span class="nav-link-icon"><span class="fas fa-users"></span></span>
                    <span class="nav-link-text ps-1">고객정보</span>
                  </div>
                </a>
              </li>
              <ul class="nav collapse show" id="INFO002" >
                <li class="nav-item d-flex flex-between-center hover-actions-trigger">
                  <a class="nav-link addTabBar" href="customerManage/customer" data-path=">고객정보>고객 관리"> 
                    <span class="nav-link-text ps-1">고객 관리</span>
                  </a>
                  <div class="hover-actions end-0">
                    <button class="btn fs--2 icon-item-sm btn-link px-0 text-600 menuPop">
                      <span class="fas fa-external-link-alt text-light"></span>
                    </button>
                  </div>
                </li>
                <li class="nav-item d-flex flex-between-center hover-actions-trigger">
                  <a class="nav-link addTabBar" href="customerManage/measure" data-path=">고객정보>측정 결과"> 
                    <span class="nav-link-text ps-1">측정 결과</span>
                  </a>
                  <div class="hover-actions end-0">
                    <button class="btn fs--2 icon-item-sm btn-link px-0 text-600 menuPop">
                      <span class="fas fa-external-link-alt text-light"></span>
                    </button>
                  </div>
                </li>
                <li class="nav-item d-flex flex-between-center hover-actions-trigger">
                  <a class="nav-link addTabBar" href="customerManage/health" data-path=">고객정보>운동 정보"> 
                    <span class="nav-link-text ps-1">운동 정보</span>
                  </a>
                  <div class="hover-actions end-0">
                    <button class="btn fs--2 icon-item-sm btn-link px-0 text-600 menuPop">
                      <span class="fas fa-external-link-alt text-light"></span>
                    </button>
                  </div>
                </li>
                <li class="nav-item d-flex flex-between-center hover-actions-trigger">
                  <a class="nav-link addTabBar" href="customerManage/diet" data-path=">고객정보>식단 정보"> 
                    <span class="nav-link-text ps-1">식단 정보</span>
                  </a>
                  <div class="hover-actions end-0">
                    <button class="btn fs--2 icon-item-sm btn-link px-0 text-600 menuPop">
                      <span class="fas fa-external-link-alt text-light"></span>
                    </button>
                  </div>
                </li>
                <li class="nav-item d-flex flex-between-center hover-actions-trigger">
                  <a class="nav-link addTabBar" href="user/board" data-path=">건강관리>상담 관리"> 
                    <span class="nav-link-text ps-1">상담 관리</span>
                  </a>
                </li>

                
              </ul>

            </li>

            

          </div>

          <div th:classappend="${userInfo.role == 'USER_ROLE'} ? '' : 'd-none'">
            <li class="nav-item" id="nav-menu"  >
              
              <div class="row navbar-vertical-label-wrapper mt-3 mb-2">
                <div class="col-auto navbar-vertical-label">사용자 메뉴</div>
                <div class="col ps-0">
                  <hr class="mb-0 navbar-vertical-divider">
                </div>
              </div>
              <li class="nav-item">
                <a class="nav-link dropdown-indicator" href="#INFO003" role="button" data-bs-toggle="collapse" aria-expanded="true" aria-controls="INFO001">
                  <div class="d-flex align-items-center">
                    <span class="nav-link-icon"><span class="fas fa-list"></span></span>
                    <span class="nav-link-text ps-1">건강관리</span>
                  </div>
                </a>
              </li>
              <ul class="nav collapse show" id="INFO003" >
                <li class="nav-item d-flex flex-between-center hover-actions-trigger">
                  <a class="nav-link addTabBar" href="user/mypage" data-path=">건강관리>마이페이지"> 
                    <span class="nav-link-text ps-1">마이페이지</span>
                  </a>
                  
                </li>
                <li class="nav-item d-flex flex-between-center hover-actions-trigger">
                  <a class="nav-link addTabBar" href="user/board" data-path=">건강관리>상담 관리"> 
                    <span class="nav-link-text ps-1">상담 관리</span>
                  </a>
                </li>
                
              </ul>
            </li>
          </div>
          
        </ul>
        
      </div>
    </div>
  </nav>
</html>