<!DOCTYPE html>
<html lang="ko" dir="ltr" xmlns:th="http://www.thymeleaf.org">
  
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>고객 관리</title>
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">

    <!-- ================== BEGIN wijmo grid BASE CSS STYLE ================== -->
    <link href="vendors/wijmo/Dist/styles/wijmo.min.css" rel="stylesheet"/>
    <!-- ================== END wijmo grid BASE CSS STYLE ================== -->

    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700%7cPoppins:300,400,500,600,700,800,900&amp;display=swap" rel="stylesheet">
    <link href="vendors/simplebar/simplebar.min.css" rel="stylesheet">
    <link href="assets/css/theme.css" rel="stylesheet" id="style-default">
    <link href="assets/css/user.css" rel="stylesheet" id="user-style-default">
    
  </head>


  <body>
    <!-- 로딩바 -->
    <div id="loading">
      <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
      <!-- 파라미터 -->
      <div id="data-params" class="visually-hidden" th:attr="data-params=${params}"></div>
    </div>
    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main ms-2 me-2" id="top">
      <div class="contents mt-3">
        <!-- 내용삽입 -->
        <div class="row g-3">
          <div class="col-lg-12">
            <form id="searchForm" onsubmit="return false">
              <div class="card mb-3">
                <div class="bg-holder d-none d-lg-block bg-card search-bg-img"></div>
                <div class="card-body card-search position-relative">
                  <div class="row flex-between-center">
                      
                    <div class="col-6 col-sm-auto align-items-center pe-0">
                      <div class="wj-labeled-input ">
                        <input id="searchName" name="searchName">
                        <label for="searchName">이름</label>
                      </div>
                      <div class="wj-labeled-input ">
                        <input id="searchStartdat" name="searchStartdat">
                        <label for="searchStartdat">등록 시작일자</label>
                      </div>
                      <div class="wj-labeled-input ">
                        <input id="searchEnddat" name="searchEnddat">
                        <label for="searchEnddat">등록 종료일자</label>
                      </div>
                      <div class="wj-labeled-input switch">
                        <input id="includeQuit" name="includeQuit" type="checkbox" class="wj-control" /> 
                        <label for="includeQuit">탈퇴자 포함</label>
                      </div>
                      
                    </div>
                    <div class="col-6 col-sm-auto ms-auto ps-0">
                      <div id="btn-actions" >
                        <button class="btn btn-falcon-default btn-sm me-2" id="btn-search" type="button">
                          <span class="fas fa-search" data-fa-transform="shrink-3 down-2"></span>
                          <span class="d-none d-lg-inline-block d-xxl-inline-block ms-1">조회</span>
                        </button>  
                        <button class="btn btn-falcon-default btn-sm me-2" id="btn-add" type="button">
                            <span class="fas fa-plus" data-fa-transform="shrink-3 down-2"></span>
                            <span class="d-none d-lg-inline-block d-xxl-inline-block ms-1">추가</span>
                        </button>  
                        <button class="btn btn-falcon-primary btn-sm me-2" id="btn-save" type="button">
                            <span class="fas fa-save" data-fa-transform="shrink-3 down-2"></span>
                            <span class="d-none d-lg-inline-block d-xxl-inline-block ms-1">저장</span>
                        </button>  
                        <button class="btn btn-falcon-danger btn-sm me-2" id="btn-delete" type="button">
                            <span class="fas fa-trash-alt" data-fa-transform="shrink-3 down-2"></span>
                            <span class="d-none d-lg-inline-block d-xxl-inline-block ms-1">삭제</span>
                        </button>  
                        
                      </div>
                    </div>
                  
                  </div>
                </div>
              </div>
                
            </form>
          </div>
        </div>
        <div class="row g-3">
          <div class="col-lg-12">
              <div class="card">
              <div class="card-header d-flex flex-between-center py-1">
                  <div id="grid-option" class="d-flex">
                  <!-- 그리드 옵션박스 영역 -->
                  </div>
                  <div>
                  <!-- 오른쪽에 추가할 내용있을경우 삽입-->
                  </div>
              </div>
        
              <div class="card-body py-1 px-2">
                  <div id="grid"></div>
              </div>
        
              </div>
          </div>
        </div>
        
      </div>
    </main>

    <div th:replace="codeManage/modalKakaoJuso :: modalKakaoJuso"></div>
    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->

    <!-- 공통 스크립트 모음 -->
    <script src="js/common/script.js"></script>

    
    <script>
      import('/js/common/common.js');
      import('/js/customerManage/customer.js');
    
    </script>
  </body>

</html>